.row-fluid
  .span6.well
    %h2 Software Engineer - Entry Level / Freshers
    Job Title 	Software Engineer
    %br/
    Preferred Education 	B.E / B.Tech, B.Sc, BCA, MCA
    %br/
    Location 	Trivandrum
    %br/
    Salary 	INR 70,000 - 1,50,000 P.A
    %br/
    Experience 	Freshers / 0 - 2 Years
    %br/
    Description 	Please find below the JD.
    %br/
    Required Skills:
    %br/
    Good Knowledge in C / C++ / Java / Ruby
    Excellent Problem solving skills & Quick Learner
    %br/
    Good Communication Skills
    %br/
    Knowledge in HTML, CSS, Javascript and Jquery are plus
    %br/
  .span5.well
    %h1 Apply
    = render 'form'
